# Core deep learning
torch
torchvision
timm

# Arrays, images, utils
numpy
opencv-python
Pillow
scikit-learn
tqdm
pyyaml

# Plotting
matplotlib

# Realtime communication (Python <-> TouchDesigner)
python-osc
websockets
websocket-client

TD-TOUCHDESIGNER Non-commercial (free) version installed

## Instructions and commands for a propper execution of the program
As it is explained in the video the programm runs from .the terminal/powershell.

* IMPORTANT
1) The .zip folder should be downloaded and extracted in: 
  - C:/Users/*use your profile*/Documents/CAP6415_F25_project-Synthetic-vs-Natural-Materials-for-Facades/
  - If the repo is downloaded in C: -> Users -> your user -> Documents 
  - Everything should run smoothly

2) Open POWERSHELL-Terminal on Windows

3) Create the environment and activate it:
  - conda create -n cv-facades python=3.10 -y
  - conda activate cv-facades

3.5) Install dependencies (Recommended)
  - pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121
  - pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
  - pip install numpy scikit-learn matplotlib pyyaml pillow opencv-python python-osc timm plyfile

4) Train
  Nat Only
  - python .\src\train.py --config .\configs\train_nat.yaml
  Syn Only
  - python .\src\train.py --config .\configs\train_syn.yaml
  Mix (Nat+Syn)
  - python .\src\train.py --config .\configs\train_mix.yaml

5) Evaluation report (Nat-Test)
  NAT
  - python .\src\eval_report.py --config .\configs\eval.yaml --model best_nat.ckpt --outdir .\results\nat\eval
  SYN (sim→real: still evaluated on NAT test)
  - python .\src\eval_report.py --config .\configs\eval.yaml --model best_syn.ckpt --outdir .\results\syn\eval
  MIX
  - python .\src\eval_report.py --config .\configs\eval.yaml --model best_mix.ckpt --outdir .\results\mix\eval

6) Grad-cam Libraries
  NAT CAMs over NAT test images (no limit, all the images)
  - python .\src\gradcam.py --config .\configs\eval.yaml --images_dir .\data\nat\test --out .\results\nat\cams --limit 0 --model .\checkpoints\best_nat.ckpt
  SYN CAMs on same NAT test images
  - python .\src\gradcam.py --config .\configs\eval.yaml --images_dir .\data\nat\test --out .\results\syn\cams --limit 0 --model .\checkpoints\best_syn.ckpt
  MIX CAMs on same NAT test images
  - python .\src\gradcam.py --config .\configs\eval.yaml --images_dir .\data\nat\test --out .\results\mix\cams --limit 0 --model .\checkpoints\best_mix.ckpt

7) Latency Probe
  - python .\src\latency_probe.py --config .\configs\eval.yaml --img .\data\nat\test\brick\brick_0001.jpg --trials 50 --model .\checkpoints\best_mix.ckpt

8) Start server to communicate with TD
  - python -u -m src.inference_server --mode model --listen_port 8000 --td_port 9000 --config .\configs\eval.yaml

9) Change Inputs to the Movie File In TOPs:
  - Better explained in the video.

10)
  - Enjoy of the TD interface and the 3d point-cloud-based model.







